@(curatedCast: CuratedCast)

@metatags = {
}

@scripts = {
}

@main(curatedCast.title + " - NewsSips.com", "", metatags, scripts) {

      <div class="row row-offcanvas row-offcanvas-right">

          <div class="col-xs-12 col-sm-9">
              <h2>@curatedCast.title</h2>
              <p>@curatedCast.shortDescription</p>
          </div><!--/.col-xs-12.col-sm-9-->


          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
              <div class="list-group">
                  <a href="#" class="list-group-item active">Link</a>
                  <a href="#" class="list-group-item">Link</a>
                  <a href="#" class="list-group-item">Link</a>
                  <a href="#" class="list-group-item">Link</a>
                  <a href="#" class="list-group-item">Link</a>
                  <a href="#" class="list-group-item">Link</a>
                  <a href="#" class="list-group-item">Link</a>
                  <a href="#" class="list-group-item">Link</a>
                  <a href="#" class="list-group-item">Link</a>
                  <a href="#" class="list-group-item">Link</a>
              </div>
          </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->
}