@(curatedCastList: List[CuratedCast], relatedCuratedCastList: List[CuratedCast])

@import java.net.{URI, URLDecoder, URLEncoder}

@metatags = {
}
@scripts = {
<script>
  /* Truncating text script */
  $(function(){
     $('.truncate-curatedCast').succinct({
        size: 100,
        ignore: false
     });
  });
</script>
}

@main(Messages("playauthenticate.index.title"), "", metatags, scripts) {

      <div class="row row-offcanvas row-offcanvas-right">

          <div class="col-xs-12 col-sm-9">
              <p class="pull-right visible-xs">
                  <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
              </p>
              <div class="jumbotron">
                  <h2>@Messages("playauthenticate.index.intro")</h2>
                  <p>
                      @Messages("playauthenticate.index.intro_2")
                      <br/>
                      @Messages("playauthenticate.index.intro_3")
                  </p>
              </div>


              <div class="row">
              @for((curatedCast, curatedCastIndex) <- curatedCastList.zipWithIndex) {
                  <div class="col-xs-18 col-sm-6 col-md-4">
                      <div class="thumbnail">
                          <img src="@curatedCast.imageUrl">
                          <div class="caption">
                              <h4>@curatedCast.title</h4>
                              <p>@curatedCast.shortDescription</p>
                              <a href="#" class="btn btn-info btn-xs" role="button">Read more</a>
                          </div>
                      </div>
                  </div>
              }
              </div>

              <!-- Example row of columns
              @for((curatedCast, curatedCastIndex) <- curatedCastList.zipWithIndex) {
              <p>@curatedCastIndex) - <a href="/post/@URLEncoder.encode({curatedCast.ccid}, "UTF-8")">@curatedCast.title</a></p>
              }-->

          </div><!--/.col-xs-12.col-sm-9-->


          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
              <h3>Related Posts</h3>
              <div class="list-group">
              @for((curatedCast, curatedCastIndex) <- relatedCuratedCastList.zipWithIndex) {
                  <a href="/post/@URLEncoder.encode({curatedCast.ccid}, "UTF-8")" class="list-group-item">@curatedCast.title</a>
              }
              </div>
          </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->
}