@(localUser: models.User = null)

@metatags = {
}

@scripts = {
}

@main(Messages("playauthenticate.navigation.restricted"), "restricted", metatags, scripts) {
    
    <h1>@Messages("playauthenticate.navigation.restricted")</h1>
    <p>
        @Messages("playauthenticate.restricted.secrets")
    </p>
}